# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/
test-results/
playwright-report/
.playwright/
.render-*/

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.pem
.cache/
